
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFF;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    /*width:100%;
    margin:0px;
    padding:0px;*/
}

#appName {
  margin-top:30px;
  margin-bottom:30px;
}
.app {
    /*width: 90%;
    margin: auto;
    margin-top: 30px;*/
}

#startPage{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#toggle{
  width: auto;
}
#batteryState{
  background-color: #30E87C;
  padding: 0;
  border-bottom: 1px solid black;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}


#hapticStory-block{
  border-bottom: 1px solid black;
}

    #hapticStory-block h2 {
        text-align: center;
    }

    .carousel-control.right, .carousel-control.left{
        background-image: none;
        opacity: .5;
    }

    .carousel-control{
        color: black !important;
    }



/*button {
    -webkit-appearance: none;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid white;

    margin: 10px;
    width: 100%;
    background-color: #000;
    color: white;
}*/

#deviceList{
  overflow: auto;
  font-size:16px;
  /*list-style-type: none;
  margin-bottom:30px;*/
  height: 100px;
  margin: 0px;
}

#deviceBlockLeft{
  margin-top: 30px;
}

#deviceList li{
    margin-bottom: 20px;
}

/*#refreshButton {
  display: block;
  width:70%;
  height:30px;
  margin: auto;
  background-color: #000;
  color: #FFF;
}*/
#ex13{
  margin: 20px;
}

 #disconnectButton, #randomButton{
    display: block;
    width:70%;
    height:30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #000;
    color: #FFF;
}

  #freq_block{
    border-bottom: 1px solid black;
  }

#pushToDeviceDiv, #testDeviceDiv {
  padding-top: 15px;
  }

#alterTime{
  border-bottom: 1px solid black;

}
#resultDiv{
    margin-bottom: 50px;
    width:70%;
    margin: auto;

}
